.admin-dashboard {
  padding: 40px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.admin-dashboard h1 {
  color: #333;
  margin-bottom: 30px;
}


.admin-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}


.admin-actions button {
  padding: 15px;
  width: 200px;
  background-color: #90ee90;
  border: 1px solid #999;
  cursor: pointer;
  font-size: 14px;
}

.admin-actions button:hover {
  background-color: #7ed37e;
}


.logout-btn {
  margin-top: 40px;
  padding: 10px 20px;
  background-color: #ff6b6b;
  border: none;
  cursor: pointer;
  color: white;
  width: auto;
}

.logout-btn:hover {
  background-color: #e05555;
}

.cards{
 display:flex;
 gap:20px;
 margin:20px 0;
 flex-wrap:wrap;
}

.card{
 background:#fff;
 padding:20px;
 border-radius:10px;
 box-shadow:0 0 10px #ddd;
 min-width:180px;
 font-weight:bold;
}

.charts{
 display:flex;
 gap:40px;
 flex-wrap:wrap;
}

.dashboard {
  padding: 30px;
  background: #f5f6fa;
  min-height: 100vh;
}

.dashboard h1 {
  text-align: center;
  margin-bottom: 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}

.card {
  color: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  font-size: 28px;
  font-weight: bold;
}

.blue { background: linear-gradient(45deg,#3498db,#6dd5fa); }
.pink { background: linear-gradient(45deg,#ff416c,#ff4b2b); }
.green { background: linear-gradient(45deg,#00b894,#55efc4); }
.orange { background: linear-gradient(45deg,#f39c12,#f1c40f); }

.charts {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-top: 40px;
}

.chart-box {
  background: white;
  padding: 20px;
  border-radius: 15px;
}

.buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.buttons button {
  padding: 12px 25px;
  border: none;
  background: #00b894;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}