.orders-page{
  padding:30px;
  background:#f7f7f7;
  min-height:100vh;
}

.order-title{
  text-align:center;
  margin-bottom:30px;
}

.orders-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.order-card{
  background:white;
  padding:20px;
  border-radius:15px;
  text-align:center;
  box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.order-img{
  width:130px;
  height:130px;
  object-fit:cover;
  margin-bottom:15px;
}

.status{
  margin-top:10px;
  padding:8px;
  border-radius:20px;
  font-weight:bold;
}

.delivered{
  background:#d4edda;
  color:green;
}

.pending{
  background:#fff3cd;
  color:#856404;
}

.shipped{
  background:#d1ecf1;
  color:#0c5460;
}
.orders-page{
  padding:30px;
  background:#f5f5f5;
  min-height:100vh;
}

.order-title{
  text-align:center;
  margin-bottom:30px;
}

.orders-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:25px;
}

.order-card{
  background:white;
  padding:20px;
  border-radius:15px;
  box-shadow:0 5px 15px rgba(0,0,0,0.08);
  text-align:center;
}

.order-img{
  width:150px;
  height:150px;
  object-fit:contain;
  margin-bottom:15px;
}

.status{
  display:inline-block;
  margin-top:10px;
  padding:8px 15px;
  border-radius:20px;
  font-weight:bold;
}

.delivered{
  background:#d4edda;
  color:green;
}

.pending{
  background:#fff3cd;
  color:#856404;
}

.shipped{
  background:#d1ecf1;
  color:#0c5460;
}